從網站抓下201803-201910的三隻蘋概股的股價資訊

In [1]:
# step1. import package 
import requests
import pandas as pd
import numpy as np
from io import StringIO
df2 = pd.DataFrame()
# step2. 進入目標網站,爬取盤後資訊 
# for day in range(20181227):
date = str(20191218)
r = requests.post('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=csv&date=' + date + '&stockNo=3008')
print(r)

str_list = []
for i in r.text.split('\n'):
    if len(i.split('",')) == 9 and i[0] != '=':       
        i = i.strip(",\r\n")
        str_list.append(i)

<Response [200]>

In [2]:
# step1. import package 
import requests
import pandas as pd
import numpy as np
from io import StringIO
df2 = pd.DataFrame()
# step2. 進入目標網站,爬取盤後資訊 

date = ['20180330','20180430','20180531','20180629','20180731',
     '20180831','20180928','20181031','20181130','20181231',
     '20190131','20190131','20190131','20190131','20190131',
     '20190131','20190228','20190329','20190430','20190531',
     '20190628','20190731','20190830','20190930','20191031']
     


for date in date:
    try:
        r = requests.post('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=csv&date=' + date + '&stockNo=3008')

        # step3. 篩選出個股盤後資訊
        str_list = []
        for i in r.text.split('\n'):
            if len(i.split('",')) == 10 and i[0] != '=':       
                i = i.strip(",\r\n")
                str_list.append(i)  

        df = pd.read_csv(StringIO("\n".join(str_list)))  
        df2 = pd.concat([df2,df],axis = 0)
        #step4. 印出選股資訊
        print(df2.shape)

    except Exception as e:
        print(f'An error occured:{e}')

df2.to_csv('/Users/liaoshousan/Desktop/3008_大立光.csv',index = None)
            #     pd.set_option('display.max_rows', None)
        #     df.head(150)
%reset -f

(23, 9)
(41, 9)
(63, 9)
(83, 9)
(105, 9)
(128, 9)
(147, 9)
(169, 9)
(191, 9)
(212, 9)
(233, 9)
(254, 9)
(275, 9)
(296, 9)
(317, 9)
(338, 9)
(351, 9)
(371, 9)
(391, 9)
(413, 9)
(432, 9)
(455, 9)
(476, 9)
(495, 9)
(516, 9)

In [129]:
# step1. import package 
import requests
import pandas as pd
import numpy as np
from io import StringIO
df2 = pd.DataFrame()
# step2. 進入目標網站,爬取盤後資訊 

date = ['20180330','20180430','20180531','20180629','20180731',
     '20180831','20180928','20181031','20181130','20181231',
     '20190131','20190131','20190131','20190131','20190131',
     '20190131','20190228','20190329','20190430','20190531',
     '20190628','20190731','20190830','20190930','20191031']
     


for date in date:
    try:
        r = requests.post('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=csv&date=' + date + '&stockNo=2317')

        # step3. 篩選出個股盤後資訊
        str_list = []
        for i in r.text.split('\n'):
            if len(i.split('",')) == 10 and i[0] != '=':       
                i = i.strip(",\r\n")
                str_list.append(i)  

        df = pd.read_csv(StringIO("\n".join(str_list)))  
        df2 = pd.concat([df2,df],axis = 0)
        #step4. 印出選股資訊
        print(df2.shape)

    except Exception as e:
        print(f'An error occured:{e}')

df2.to_csv('/Users/liaoshousan/Desktop/2317_鴻海.csv',index = None)
            #     pd.set_option('display.max_rows', None)
        #     df.head(150)
%reset -f

(23, 9)
(41, 9)
(63, 9)
(83, 9)
(105, 9)
(128, 9)
(147, 9)
(163, 9)
(185, 9)
(206, 9)
(227, 9)
(248, 9)
(269, 9)
(290, 9)
(311, 9)
(332, 9)
(345, 9)
(365, 9)
(385, 9)
(407, 9)
(426, 9)
(449, 9)
(470, 9)
(489, 9)
(510, 9)

In [130]:
# step1. import package 
import requests
import pandas as pd
import numpy as np
from io import StringIO
df2 = pd.DataFrame()
# step2. 進入目標網站,爬取盤後資訊 

date = ['20180330','20180430','20180531','20180629','20180731',
     '20180831','20180928','20181031','20181130','20181231',
     '20190131','20190131','20190131','20190131','20190131',
     '20190131','20190228','20190329','20190430','20190531',
     '20190628','20190731','20190830','20190930','20191031']
     


for date in date:
    try:
        r = requests.post('https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=csv&date=' + date + '&stockNo=2330')

        # step3. 篩選出個股盤後資訊
        str_list = []
        for i in r.text.split('\n'):
            if len(i.split('",')) == 10 and i[0] != '=':       
                i = i.strip(",\r\n")
                str_list.append(i)  

        df = pd.read_csv(StringIO("\n".join(str_list)))  
        df2 = pd.concat([df2,df],axis = 0)
        #step4. 印出選股資訊
        print(df2.shape)

    except Exception as e:
        print(f'An error occured:{e}')

df2.to_csv('/Users/liaoshousan/Desktop/2330_台積電.csv',index = None)
            #     pd.set_option('display.max_rows', None)
        #     df.head(150)
%reset -f

(23, 9)
(41, 9)
(63, 9)
(83, 9)
(105, 9)
(128, 9)
(147, 9)
(169, 9)
(191, 9)
(212, 9)
(233, 9)
(254, 9)
(275, 9)
(296, 9)
(317, 9)
(338, 9)
(351, 9)
(371, 9)
(391, 9)
(413, 9)
(432, 9)
(455, 9)
(476, 9)
(495, 9)
(516, 9)

In [289]:
def find_up_down(df):
    
    status = []
    for i in range(df.shape[0]):
        if i==0:
            status.append(0)
        
        elif df.iloc[i,6] > 1.02*df.iloc[i-1,4]:#如果當天的收盤價 > 前一日最高價，表示當日受前一日影響，漲價
            status.append(1)
        
        elif df.iloc[i,4]*1.02 < df.iloc[i-1,6]:  #如果當天的收盤價 < 前一日最高價，表示當日受前一日影響，跌價
            status.append(-1)
        else:
            status.append(0)
    df['status'] = status

    return df

In [290]:
TSMC = find_up_down(TSMC)
Foxconn = find_up_down(Foxconn)
LARGAN = find_up_down(LARGAN)

In [306]:
LARGAN.head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,status
0,107/03/01,"859,927","3,297,706,395",3710.0,3920.0,3700.0,3900.0,205.0,"1,059",0
1,107/03/02,"513,175","1,982,831,092",3850.0,3900.0,3835.0,3870.0,-30.0,589,0
2,107/03/05,"717,682","2,674,892,720",3860.0,3860.0,3675.0,3700.0,-170.0,920,0
3,107/03/06,"1,081,391","3,997,475,330",3715.0,3750.0,3655.0,3655.0,-45.0,"1,302",0
4,107/03/07,"725,611","2,638,466,458",3620.0,3690.0,3600.0,3690.0,35.0,988,0

In [307]:
Foxconn.head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,status
0,107/03/01,"42,073,991","3,698,227,165",87.8,88.3,87.5,87.9,-0.2,"16,467",0
1,107/03/02,"28,180,553","2,461,227,316",87.2,87.8,87.0,87.8,-0.1,"13,846",0
2,107/03/05,"31,341,174","2,738,562,304",87.7,88.1,87.0,87.0,-0.8,"15,273",0
3,107/03/06,"35,392,520","3,124,639,407",88.3,88.8,87.8,88.2,1.2,"14,546",0
4,107/03/07,"44,181,640","3,940,688,349",88.6,90.1,88.3,88.5,0.3,"21,638",0

In [308]:
TSMC.head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數,status
0,107/03/01,"43,847,984","10,669,194,561",244.0,245.0,242.0,243.0,-3.0,"11,589",0
1,107/03/02,"35,289,170","8,453,712,014",240.0,241.0,238.5,240.0,-3.0,"10,440",0
2,107/03/05,"27,337,846","6,607,367,732",242.5,243.0,240.5,241.5,1.5,"9,321",0
3,107/03/06,"36,945,780","9,155,812,210",245.5,250.0,245.5,250.0,8.5,"13,977",1
4,107/03/07,"30,391,219","7,525,601,638",248.0,248.5,246.0,247.0,-3.0,"10,521",0