In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/Users/liaoshousan/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [42]:
%%time
train = pd.read_csv('/Users/liaoshousan/Desktop/Cathay_BigData-Competition/Data/train.csv',encoding = 'big5')

CPU times: user 2.04 s, sys: 184 ms, total: 2.23 s
Wall time: 2.37 s

In [14]:
train_float

,EDUCATION_CD,MARRIAGE_CD,OCCUPATION_CLASS_CD,APC_1ST_YEARDIF,LEVEL,RFM_M_LEVEL,ANNUAL_PREMIUM_AMT,ANNUAL_INCOME_AMT,L1YR_C_CNT,BANK_NUMBER_CNT,...,OUTPATIENT_SURGERY_AMT,INPATIENT_SURGERY_AMT,PAY_LIMIT_MED_MISC_AMT,FIRST_CANCER_AMT,ILL_ACCELERATION_AMT,ILL_ADDITIONAL_AMT,LONG_TERM_CARE_AMT,MONTHLY_CARE_AMT,LIFE_INSD_CNT,L1YR_GROSS_PRE_AMT
0,NaN,NaN,1.0,0.046512,3.0,3.0,0.000192,0.001667,NaN,0.125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.015625,0.000174
1,NaN,NaN,1.0,0.046512,5.0,3.0,0.009675,0.000167,NaN,0.125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.015625,0.008724
2,1.0,0.0,1.0,0.000000,5.0,3.0,0.000292,0.000125,NaN,0.000,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.031250,0.005359
3,NaN,0.0,1.0,0.162791,5.0,3.0,NaN,0.004167,NaN,0.125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.015625,0.000000
4,1.0,0.0,1.0,0.116279,2.0,3.0,0.000664,0.000083,NaN,0.000,...,0.0,0.0,0.0,0.04717,0.0,0.0,0.0,0.0,0.062500,0.000603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3.0,0.0,NaN,0.372093,1.0,7.0,0.000483,NaN,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000439
99996,1.0,0.0,NaN,0.465116,5.0,3.0,NaN,NaN,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
99997,2.0,1.0,1.0,0.279070,5.0,8.0,NaN,0.000625,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
99998,3.0,1.0,1.0,0.023256,4.0,5.0,0.000548,0.002083,NaN,0.125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000504
99999,3.0,1.0,1.0,0.000000,5.0,8.0,0.000440,0.002500,1.0,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000404

In [6]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

In [29]:
train_int = train.select_dtypes(include=['int'])
converted_int = train_int.apply(pd.to_numeric,downcast='unsigned')

train_float = train.select_dtypes(include=['float'])
converted_float = train_float.apply(pd.to_numeric,downcast='float')

train_object = train.select_dtypes(include=['object'])
convert_object = train_object.astype('category')

In [30]:
optimized_train = train.copy()
optimized_train[converted_int.columns] = converted_int
optimized_train[converted_float.columns] = converted_float
optimized_train[convert_object.columns] = convert_object

print("before: ", mem_usage(train))
print("after: ", mem_usage(optimized_train))

before:  560.57 MB
after:  21.48 MB

In [32]:
optimized_train.head()

,CUS_ID,GENDER,AGE,CHARGE_CITY_CD,CONTACT_CITY_CD,EDUCATION_CD,MARRIAGE_CD,LAST_A_CCONTACT_DT,L1YR_A_ISSUE_CNT,LAST_A_ISSUE_DT,...,L1YR_GROSS_PRE_AMT,CUST_9_SEGMENTS_CD,FINANCETOOLS_A,FINANCETOOLS_B,FINANCETOOLS_C,FINANCETOOLS_D,FINANCETOOLS_E,FINANCETOOLS_F,FINANCETOOLS_G,Y1
0,3418,M,低,A1,A1,NaN,NaN,Y,0,N,...,0.000174,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,4302,M,低,A1,A1,NaN,NaN,Y,0,N,...,0.008724,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,5545,M,低,A1,A1,1.0,0.0,Y,1,Y,...,0.005359,A,Y,N,N,N,N,N,N,N
3,7207,M,低,A1,A1,NaN,0.0,Y,0,N,...,0.000000,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,7213,M,低,A1,A1,1.0,0.0,N,0,N,...,0.000603,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [33]:
train.head()

,CUS_ID,GENDER,AGE,CHARGE_CITY_CD,CONTACT_CITY_CD,EDUCATION_CD,MARRIAGE_CD,LAST_A_CCONTACT_DT,L1YR_A_ISSUE_CNT,LAST_A_ISSUE_DT,...,L1YR_GROSS_PRE_AMT,CUST_9_SEGMENTS_CD,FINANCETOOLS_A,FINANCETOOLS_B,FINANCETOOLS_C,FINANCETOOLS_D,FINANCETOOLS_E,FINANCETOOLS_F,FINANCETOOLS_G,Y1
0,3418,M,低,A1,A1,NaN,NaN,Y,0,N,...,0.000174,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,4302,M,低,A1,A1,NaN,NaN,Y,0,N,...,0.008724,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,5545,M,低,A1,A1,1.0,0.0,Y,1,Y,...,0.005359,A,Y,N,N,N,N,N,N,N
3,7207,M,低,A1,A1,NaN,0.0,Y,0,N,...,0.000000,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,7213,M,低,A1,A1,1.0,0.0,N,0,N,...,0.000603,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

### 數值都沒有太大的變化滿棒的操作
#### 值得一提的，如果把opyimize的dataframe 輸出csv，再讀進來記憶體容量會跟convert前一樣